version: 2.1
# jobs:
#   build:
#     docker:
#       - image: circleci/python:latest
#     steps:
#       - checkout
#       - run:
#           name: Install dependencies and build project
#           command: python -m unittest discover -s src/FizzBuzzer -v
#       - sonarcloud/scan
orbs:
  sonarcloud: sonarsource/sonarcloud@1.0.1
workflows:
  main:
    jobs:
      - build:
          context: SonarCloud
          
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.1

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

#     working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
#       - restore_cache:
#           keys:
#             - v1-dependencies-{{ checksum "requirements.txt" }}
#             # fallback to using the latest cache if no exact match is found
#             - v1-dependencies-

      - run:
          name: install dependencies
          command: |
            pwd
            ls
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt

#       - save_cache:
#           paths:
#             - ./venv
#           key: v1-dependencies-{{ checksum "requirements.txt" }}

      # run tests!
      # this example uses Django's built-in test-runner
      # other common Python testing frameworks include pytest and nose
      # https://pytest.org
      # https://nose.readthedocs.io
      
      #ORIGINAL SNIPPET by circleCI
#       - run:
#           name: run tests
#           command: |
#             . venv/bin/activate
#             python manage.py test
#       - run:
#           name: activate python's virtual environment
#           command: . venv/bin/activate
      - run:
          name: run tests
          command: |
            . venv/bin/activate
            python -m unittest discover -s src/FizzBuzzer -v
            coverage run FizzBuzzerAPI/src/FizzBuzzer/testFizzBuzzer.py
            coverage report -m
            coverage html
      - store_artifacts:
          path: htmlcov
      - sonarcloud/scan

      - store_artifacts:
          path: test-reports
          destination: test-reports
